<?xml version="1.0"?>
<server>
	<name>local</name>
	<ip>localhost</ip>
	<port>9982</port>
	<username>test</username>
	<password>test</password>
</server>
<server>
	<name>google.com</name>
	<ip>google.se</ip>
	<port>1337</port>
	<username>test</username>
	<password>test</password>
</server>